apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    tier: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        app: frontend
        tier: frontend
    spec:
      containers:
        - name: server
          image: pstrokov/pvs-nginx:latest
          ports:
          - containerPort: 8080
      dnsPolicy: ClusterFirst
      restartPolicy: Always
...
